include includes/head
	body
		include includes/page-header
		mixin header(pages, name)

		section.container

			//- Page title
			header.b-heading
				h1.b-heading__title
					!= name
				strong.b-heading__subtitle
					!= details.textIntro
				p.b-heading__descr
					!= details.textDescription

			//- Slideshow
			if (details.images.length)
				#details-slideshow.carousel.slide(data-ride='carousel')

					//- Wrapper for slides
					.carousel-inner
						each val, index in details.images
							//- - var css = (index == 0) ? 'active' : ''
							- var css = (index > 0) ? 'is-js-shown' : 'active'
							.item(class='#{css}', data-target='#details-slideshow', data-slide-to='#{index}')
								img(src='/images/#{details.imagesFolder}/#{val.filename}', alt='')
								if val.caption
									.carousel-caption
										p= val.caption

					//- Captions black box background
					.caption-background

					//- Indicators
					ol.carousel-indicators.is-js-shown
						each val, index in details.images
							- var css = (index == 0) ? 'active' : ''
							li(class='#{css}', data-target='#details-slideshow', data-slide-to='#{index}')

					//- Controls
					a.left.carousel-control.is-js-shown(href='#details-slideshow', data-slide='prev')
						span.glyphicon.glyphicon-chevron-left
					a.right.carousel-control.is-js-shown(href='#details-slideshow', data-slide='next')
						span.glyphicon.glyphicon-chevron-right
			//- /Slideshow

			//- Stories
			h2.b-heading__subtitle Pe unde a umblat
			ul.media-list
				each val, index in details.stories
					li.media
						//- .pull-left
						//- 	.b-date
						//- 		span.b-date__day.bold= moment(val.date).format('DD')
						//- 		span.b-date__month= moment(val.date).format('MMM')
						//- 		span.b-date__year= moment(val.date).format('YYYY')
						.media-body
							blockquote
								p
									= val.description
								footer 
									| #{val.name}, #{val.location}
			//- /Stories

		include includes/page-footer
