include includes/head
	body
		include includes/page-header

		section.container

			//- Page title
			header.b-heading
				h1.b-heading__title
					= name
				strong.b-heading__subtitle
					= details.textIntro
				p.b-heading__descr
					= details.textDescription

			//- Slideshow
			#details-slideshow.carousel.slide(data-ride='carousel')

				//- Wrapper for slides
				.carousel-inner
					each val, index in details.images
						//- - var css = (index == 0) ? 'active' : ''
						- var css = (index > 0) ? 'is-js-shown' : 'active'
						.item(class='#{css}', data-target='#details-slideshow', data-slide-to='#{index}')
							img(src='/images/#{details.imagesFolder}/#{val.filename}', alt='')
							if val.caption
								.carousel-caption
									p= val.caption + "fsdf sdf sdf sdf sdfasd fasdf asdjf sbdfsd fsdf sdjfsd jf sdfs dfs df sdfj sdvfj sdvf sdjvf sdfv sdjf vsdjf vdg dfg dfg dfg dfgdfg dfg dfg dfg dfg dfg dfg dfg dfg "

				//- Captions black box background
				.caption-background

				//- Indicators
				ol.carousel-indicators.is-js-shown
					each val, index in details.images
						- var css = (index == 0) ? 'active' : ''
						li(class='#{css}', data-target='#details-slideshow', data-slide-to='#{index}')

				//- Controls
				a.left.carousel-control.is-js-shown(href='#details-slideshow', data-slide='prev')
					span.glyphicon.glyphicon-chevron-left
				a.right.carousel-control.is-js-shown(href='#details-slideshow', data-slide='next')
					span.glyphicon.glyphicon-chevron-right
			//- /Slideshow

			//- Stories
			ul.b-listing
				each val, index in details.stories
					li
						strong
							= val.name
						p
							= val.description

		include includes/page-footer
